mat-list {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#spanTask {
    padding-left: 20px;
    font-weight: bold;
}

#spanCompleted {
    float: right;
    font-weight: bold;
}

mat-list-item {
    margin-top: 10px;
}

.desc-wrap {
    width: 80%;
}

.completion {
    width: 20%;
}

#cb {
    float: right;
    margin-right: 10px;
}

#cb[type="checkbox"]:before{
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #808080;
    content: "";
    background: #FFF;
}
#cb[type="checkbox"]:after{
    position: relative;
    display: block;
    left: 2px;
    top: -20px;
    width: 16px;
    height: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #B3B3B3 #dcddde #dcddde #B3B3B3;
    content: "";
    background-image: linear-gradient(135deg, #FFF 0%,#FFF 100%);
    background-repeat: no-repeat;
    background-position:center;
}
#cb[type="checkbox"]:checked:after{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC'), linear-gradient(135deg, orange 0%,yellow 100%);
}